{% extends 'base.html' %}
{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock link %}
{% block title %}sensor{% endblock title %}

{% block content %}

<h1>sensors</h1>

<a href="{% url 'sensor_new' %}" class="btn btn-primary">New sensor</a>

<br />
<br />

{% for sensor in sensor_list %}
<div class="card mb-3 ">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ sensor.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ sensor.Latitude }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ sensor.Longitude }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ sensor.Temperature }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ sensor.Humidity }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ sensor.Pression }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ sensor.PM25 }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ sensor.PM10 }}</h6>
                <strong>By {{ sensor.created_on}} </strong>
            </div>
        </div>
        <div class="card-footer bg-transparent border-success">

            <a href="{% url 'sensor_edit' pk=sensor.id %}" class="btn btn-success"> Edit</a>
            <a href="{% url 'sensor_delete' pk=sensor.id %}" class="btn btn-danger"> Delete </a>

            <a href="{% url 'sensor_detail' pk=sensor.id %}"> Continue reading...</a>
            </a>
        </div>
    </div>
</div>



{% endfor %}

{% endblock content %}


<!-- <li class="list-group-item list-group-item-secondary ">{{ sensor.title }}</li> -->