{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block content %}

<div class="wrapper wrapper-index">
    <header class="header">
        <h3 class="titulo-resultado">Date: {{fecha}} </h3>
    </header>
    <article class="main">
        <div class="row">
            <div class="resumen-forma">
                <h2 class="titulo-forma">Temperature</h2>
                <h3 class="titulo-resultado">{{Temperature}} °C</h3>
            </div>
            <div class="resumen-forma">
                <h2 class="titulo-forma">Humidity</h2>
                <h3 class="titulo-resultado">{{Humidity}} %</h3>
            </div>
            <div class="resumen-forma">
                <h2 class="titulo-forma">Pressure</h2>
                <h3 class="titulo-resultado">{{Pression}} kPa</h3>
            </div>
            <div class="resumen-forma">
                <h2 class="titulo-forma">PM25</h2>
                <h3 class="titulo-resultado">{{PM25}} µg/m3</h3>
            </div>
            <div class="resumen-forma">
                <h2 class="titulo-forma">PM10</h2>
                <h3 class="titulo-resultado">{{PM10}} µg/m3</h3>
            </div>
        </div>
    </article>
    <aside class="aside aside-1"><img src="/static/images/sun.png" alt="datas"></aside>
    <footer class="footer"></footer>
</div>
{% endblock content %}

{% block script %}
<script src="/static/js/multiple.js"></script>
{% endblock script %}