{% extends 'base.html' %}

{% block title %}Graphs{% endblock title %}
{% block content %}
<div class="wrapper">
    <header class="header">

    </header>
    <aside class="aside aside-2">

    </aside>

    <article class="main container">


        <div class="row">
            <div class="col-10 col-sm-5 col-md-10 part1">
                <div class="graph">
                    <canvas id="myChart"></canvas>
                    <div class="form  main">
                        Start: <input id="start" type="date" min="2021-01-01" max="2021-12-31" value="2021-01-01">
                        End: <input id="end" type="date" min="2021-01-01" max="2021-12-31" value="2021-01-15">
                        <button id="btnFilter" class="btn btn-primary">Filter</button>
                        <button id="btnReset" class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer class="footer"> </footer>
</div>


{% endblock content %}

{% block script %}
<!-- first -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- 1rst hammer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
    integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- 2nd" chartjs-zoom -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js"
    integrity="sha512-b+q5md1qwYUeYsuOBx+E8MzhsDSZeoE80dPP1VCw9k/KA9LORQmaH3RuXjlpu3u1rfUwh7s6SHthZM3sUGzCkA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/graphsPlus.js"></script>
{% endblock script %}