{% extends 'base.html' %}

{% block title %}Graphs{% endblock title %}
{% block content %}




<div class="wrapper">
    <header class="header">Today measures</header>
    <article class="main">
        <!-- <div class="col-10 col-sm-5 col-md-10 part1"> -->
        <div class="col-10 col-sm-5 col-md-7 part1">
            <div class="graph">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </article>


    <footer class="footer">Today is a great day to go for a walk</footer>
</div>


{% endblock content %}

{% block script %}
<!-- Chart js -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script src="/static/js/graphsPlus.js"></script>
<!-- Google charts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


{% endblock script %}