{% extends 'base.html' %}

{% block title %}Graphs{% endblock title %}
{% block content %}

<div class="wrapper">
    <header class="header">
        Report date: {{fecha}} to {{fecha2}}
    </header>
    <aside class="aside aside-2">
        <div class="row">
            <form class="form  main">
                <label for="">Periodicity<select id="listPeriodicity" type="number" class="form-select">
                        <option selectd hidden value="-1">-Select the periodicity-</option>
                        <option value="0">Daily</option>
                        <option value="3">Monthly</option>
                        <option value="9">Yearly</option>
                    </select>
                </label>
            </form>
        </div>
        <div class="row">
            <div class="resumen-forma">
                <h2 class="titulo-forma">Temperature</h2>
                <h3 class="titulo-resultado">{{Temperature}} °C</h3>
            </div>
            <div class="resumen-forma">
                <h2 class="titulo-forma">Humidity</h2>
                <h3 class="titulo-resultado">{{Humidity}} %</h3>
            </div>
            <div class="resumen-forma">
                <h2 class="titulo-forma">Pressure</h2>
                <h3 class="titulo-resultado">{{Pression}} kPa</h3>
            </div>
            <div class="resumen-forma">
                <h2 class="titulo-forma">PM25</h2>
                <h3 class="titulo-resultado">{{PM25}} µg/m3</h3>
            </div>
            <div class="resumen-forma">
                <h2 class="titulo-forma">PM10</h2>
                <h3 class="titulo-resultado">{{PM10}} µg/m3</h3>
            </div>

        </div>
    </aside>

    <article class="main container">


        <div class="row">
            <div class="col-10 col-sm-5 col-md-10 part1">
                <div class="graph">
                    <canvas id="myChart"></canvas>
                    <div class="form  main">
                        Start: <input id="start" type="date" min="2021-01-01" max="2021-12-31" value="2021-01-01">
                        End: <input id="end" type="date" min="2021-01-01" max="2021-12-31" value="2021-01-15">
                        <button id="btnFilter" class="btn btn-primary">Filter</button>
                        <button id="btnReset" class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer class="footer"> </footer>
</div>

{% endblock content %}



{% block script %}
<!-- first -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- 1rst hammer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
    integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- 2nd" chartjs-zoom -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js"
    integrity="sha512-b+q5md1qwYUeYsuOBx+E8MzhsDSZeoE80dPP1VCw9k/KA9LORQmaH3RuXjlpu3u1rfUwh7s6SHthZM3sUGzCkA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const totaldates = {{ total_dates }}
    const totaltemperatura = {{ total_temperatura }}
    const totalhumedad = {{ total_humedad }}
    const totalpresion = {{ total_presion }}
    const totalpm25 = {{ total_pm25 }}
    const totalpm10 = {{ total_pm10 }}

    const monthlydates = {{ monthly_dates }}
    const monthlytemperatura = {{ monthly_temperatura }}
    const monthlyhumedad = {{ monthly_humedad }}
    const monthlypresion = {{ monthly_presion }}
    const monthlypm25 = {{ monthly_pm25 }}
    const monthlypm10 = {{ monthly_pm10 }}

    const yearlydates = {{ yearly_dates }}
    const yearlytemperatura = {{ yearly_temperatura }}
    const yearlyhumedad = {{ yearly_humedad }}
    const yearlypresion = {{ yearly_presion }}
    const yearlypm25 = {{ yearly_pm25 }}
    const yearlypm10 = {{ yearly_pm10 }}


</script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="/static/js/multiple.js"></script>
{% endblock script %}