/* Paleta colores */
/* #ccd5ae,#e9edc9,#fefae0,#faedcd,#d4a373 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */
.nombre-logo {
    color: #272727;
}


.titulo {
    text-align: center;
    padding: 3rem
}

/* Resumen */

.resumen-forma {

    margin: 10px auto;
    padding: 3px .3em;
    height: 55px;
    width: 130px;

    border-radius: 10px;
    text-align: center;
    justify-content: center;
    background-color: #757c3e;

}

.titulo-forma {
    font-size: 100%;
    padding: 1px .3em;
    color: beige;
}

.titulo-resultado {
    font-size: 90%
}

.titulo-rango {
    font-size: 60%
}

/* Dasboard */

.part1 {
    position: relative;
    margin: 1px auto;
    padding: 5px auto;
    text-align: center;
    align-items: center;
    height: 600px;
    width: 100%;
    border-radius: 10px;
    background-color: #bee4dc;
}

.titulo_graph {
    font-size: 100%;
    padding: 30px .1em;
}

.graph {
    width: 100%;
    height: 85%;
    text-align: center;
    align-items: center;
}



/* table */

.table_data {
    font-size: 55%;
    width: 100%;
    height: 90%;

}

/* button center */

.center-button-div {
    margin: 10px auto;
    padding: 10px auto;
    text-align: center;
    align-items: center;
    align-items: center;
    text-align: center;
}

.center-button {
    align-items: center;
    text-align: center;
    margin: 5px auto;
    padding: 5px auto;
}

/* Footer */

.footer_part1 {
    background-color: #ccd5ae;
}

.footer_part2 {
    margin: 10px;
    padding: 50px .5em;
    justify-content: center;
}

.titulo-footer {
    font-size: 190%;
    padding: 30px .1em;
}

.grid_tool {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.pDesing {
    padding: 20px .5em;
    text-align: center;
    align-items: center;
}