{% extends 'base.html' %}

{% block title %}{% endblock title %}
{% block content %}

<div class="wrapper">
    <header class="header">Sensor management</header>
    <article class="main">
        <section class="list">
            <div class="list-head">
                <h5>Sensor list</h5>
                <button id="btnShowHide" class="btn btn-dark">Modify</button>
                <button id="btnClear" class="btn btn-danger">Delete</button>
                <div id="task-list">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Sensor</th>
                                <th scope="col">Latitude</th>
                                <th scope="col">Longitude</th>
                                <th scope="col">Temperature</th>
                                <th scope="col">Humidity</th>
                                <th scope="col">PM 2.5</th>
                                <th scope="col">PM 10</th>
                                <th scope="col">Activare</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Sensor 1</td>
                                <td>32.6209103</td>
                                <td>115.430909</td>
                                <td>True</td>
                                <td>True</td>
                                <td>True</td>
                                <td>True</td>
                                <td>True</td>

                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Sensor 3</td>
                                <td>32.6209103</td>
                                <td>115.430909</td>
                                <td>True</td>
                                <td>True</td>
                                <td>True</td>
                                <td>True</td>
                                <td>True</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Sensor 3</td>
                                <td>32.6209204</td>
                                <td>115.430005</td>
                                <td>True</td>
                                <td>True</td>
                                <td>True</td>
                                <td>True</td>
                                <td>True</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </article>

    <aside class="aside aside-2">
        <section id="formTask" class="form">
            <div class="list-head">
                <h3>Sensor info</h3>
            </div>
            <!-- Task: id,title,important,duration,deadline,location,status -->
            <div class="my-field">
                <label for="">Sensor name<input id="txtTitle" type="text" class="form-control" /></label>
            </div>
            <div class="my-field">
                <label for="">latitude <input id="txtLatitude" type="text" class="form-control" /></label>
            </div>
            <div class="my-field">
                <label for="">longitude <input id="txtLongitude" type="text" class="form-control" /></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Temperature
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    humidity
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    PM 2.5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    PM 10
                </label>
            </div>
            <div class="my-fiel">
                <button id="btnSave" class=" list-elem btn btn-dark">Save</button>
            </div>
        </section>
    </aside>
    <footer class="footer">Today is a great day to go for a walk</footer>
</div>

{% endblock content %}