<html>

<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" href="/static/css/gmap.css" type="text/css" media="all" title>

    <script type="module" src="/static/js/gmaps.js"></script>
</head>

<body>
    mapa:
    <div id="map"></div>
    end mapa
    <script src="script.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap">
        </script>
</body>

</html>