{% extends 'base.html' %}

{% block title %}{% endblock title %}
{% block content %}

<div class="wrapper wrapper-index">
    <header class="header">Today measures</header>
    <article class="main">
        <div>
            <p>Temperature</p>
        </div>
        <div>
            <p> humidity</p>
        </div>
        <div>
            <p> PM 2.5</p>
        </div>
        <div>
            <p> PM 10</p>
        </div>
    </article>
    <aside class="aside aside-1"><img src="/static/images/sun.png" alt="datas"></aside>
    <footer class="footer">Today is a great day to go for a walk</footer>
</div>

{% endblock content %}