{% extends 'base.html' %}

{% block title %}{% endblock title %}
{% block content %}

<div class="wrapper">
    <header class="header">Sensor 1 readings</header>
    <article class="main">
        <img src="/static/images/list.png" alt="datas">
    </article>

    <aside class="aside aside-2">
        <div class="views-icons">
            <h1>Views:</h1>
            <input class="icon" type="image" src="/static/images/table.png" />
            <input class="icon" type="image" src="/static/images/graph.png" />
        </div>
        <br><br>
        <div>
            <label for="">Sensor<select id="txtStatus" type="number" class="form-select">
                    <option selectd hidden value="-1">-Select a sensor-</option>
                    <option value="0">Sensor 1</option>
                    <option value="1">Sensor 2</option>
                    <option value="3">Sensor 3</option>
                    <option value="6">Sensor 4</option>
                    <option value="9">Sensor 5</option>
                </select>
            </label>
        </div>
        <br><br>
        <a class="btn btn-info" href="{%  url 'adminsensor' %}">Sensor management</a>
    </aside>
    <footer class="footer">Sensor status: active</footer>
</div>

{% endblock content %}